

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 17px;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

p{
    font-size: 1.1rem;
    color: rgba(58, 59, 59, 0.966);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    header, .banner, .choose, .trending {
        padding: 1.75rem 10rem;
    }
}

@media screen and (max-width: 576px) {
    header, .banner, .choose, .trending {
        padding: 1.25rem 1rem;
    }
    body{
        font-size: 16px;
    }
    h2{
        font-size: 1.55rem;
    }
}




/* CSS for cart count */

.cart-icon {
  position: relative;
  font-size: 1.25rem;
}
#cartCount {
  position: absolute;
  top: 5px;
  right: 13px;
  background-color: #4f46e5;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 0.75rem;
}
