/*  Header css started */

header {
    height: 1.75rem;
    display: flex;
    background-color: #ffffffb6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}


.logo h3 {
    color: rgba(4, 4, 240, 0.7);
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.75px;
}

.nav-menu {
    display: flex;
    list-style: none;
}


.nav-menu a {
    list-style-type: none;
    text-decoration: none;
    color: #3a3737;
    margin: 0 1rem;
    font-size: 1.05rem;
    font-weight: 600;
}

.nav-menu a:hover {
    color: rgba(4, 4, 240, 0.805);
    transition: all 0.3s ease-in-out;
}

.nav-menu a.active {
    color: rgba(4, 4, 240, 0.805);
    border-bottom: 2px solid rgba(4, 4, 240, 0.851);
    padding-bottom: 4px;
}

.cart-icon a img {
    width: 59px;
    height: 59px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-btn {
    display: none; 
    font-size: 1.85rem;
    cursor: pointer;
    color: #3a3737;
}

@media screen and (max-width: 576px) {
    header{
        height: 2.75rem;
    }
    .nav-menu {
        display: none;
    }

    .menu-btn {
        display: block; 
    }

    .logo h3 {
        font-size: 1.60rem;
    }

    .cart-icon a img {
        width: 40px; 
        height: 40px;
    }
}

/*  Header css ended */



/*  CSS for banner Start */

.banner {
    background-image:
        linear-gradient(to right,
            rgba(16, 23, 55, 0.9) 20%,
            rgba(21, 30, 69, 0.7) 35%,
            rgba(18, 25, 59, 0.3) 96%,
            rgba(0, 0, 0, 0) 140%),
        url('../assets/banner-image.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-bottom: .5rem;
}

.banner p {
    width: 65%;
    margin-bottom: 2rem;
    text-align: left;
    letter-spacing: .5px;
    line-height: 1.7rem;
    color: #ffffffa2;
}

.banner a {
    text-decoration: none;
    background-color: rgba(4, 4, 240, 0.7);
    ;
    color: #fff;
    padding: 0.85rem 2.05rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-weight: 600;
}

.banner a:hover {
    background-color: #fff;
    border: 1px solid rgba(4, 4, 240, 0.805);
    color: rgba(4, 4, 240, 0.7);
    transition: all 0.5s ease-in;

}

/*  CSS for banner End */




/*  CSS for choose */

.choose {
    background-color: #eeeef055;
    text-align: center;
}

.choose h2 {
    margin-bottom: 1.5rem;
}

.choose-container {
    padding: 3.5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.choose-card {
    background-color: white;
    padding: 2.5rem 1.5rem 2rem;
    border-radius: 12px;
    text-align: left;
    flex: 1;
    position: relative;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.07);
}

.choose-card:hover {
    transform: translateY(-5px);
    transition: 400ms ease-in;
}

.icon-box {
    width: 50px;
    height: 50px;
    background-color: #e2e8fa;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -18px;
    left: 20px;
    box-shadow: 0 3px 10px rgba(79, 70, 229, 0.12);
}

.icon-box img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.choose-card h4 {
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
    color: rgba(58, 59, 59, 0.966);
}

.choose-card p {
    font-size: 0.97rem;
    line-height: 1.5rem;
    color: rgba(58, 59, 59, 0.764);
    margin: 0;
}

@media screen and (max-width: 576px) {
    .choose-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3.25rem;
    }
    .choose-card {
        padding: 2.5rem 1rem 2rem;
    }
    .icon-box {
        left: 16px;
    }
    
}




/* Trending Section CSS */

.trending {
    background-color: #ffffff;
}

.trending-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /* padding:  1.25rem; */
}
@media screen and (max-width: 576px) {
    .trending-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
    
}

.product-card {
    /* background: #ffffff00; */
    border-radius: 12px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    transform: translateY(-4px);
}

.product-image-container, .product-img-box {
    background-color: #c3daef;
    height: 200px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding: 20px;
}

.product-image-container img, .product-img-box img {
    height: 190px;
    object-fit: contain;
}

.product-info {
    padding: 18px 20px 22px;
    display: flex;
    flex-direction: column;
}

.category-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

/*  this class are set  by...  I dont know  dev tool says */
.category {
    color: #5952e0;
    background: #444df729;
    padding: 3px 10px;
    border: 1px solid transparent;
    border-radius: 45px;
    font-size: .85rem;
    font-weight: 700;
    text-transform: capitalize;
}
/*  this class are set  by...  I dont know  dev tool says */
.rating {  
    color: #000000ab;
    font-weight: 600;
}


.product-info h3 {
    margin: 10px 0;
}

.price {
    color: #000000e5;
    font-size: 1.15rem;
    font-weight: 700;
    margin-top: 0; 
    margin-bottom: 15px;
}

.card-buttons, .button-group {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.details-btn,
.add-btn {
    flex: 1;
    height: 44px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
}

.details-btn {
    background: #f9fafc;
    border: 1px solid #e5e7eb;
    color: #555;
}

.details-btn:hover {
    background: #f1f3f5;
    border-color: #d1d5db;
}


.add-btn {
    background: linear-gradient(135deg, #5865f2, #444cf7);
    border: none;
    color: white;
    box-shadow: 0 4px 10px rgba(68, 76, 247, 0.25);
}

.add-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(68, 76, 247, 0.35);
}




/* Footer Section CSS start */

.footer {
    background: #19243b;
    color: rgba(255, 255, 255, 0.600);
    padding: 4rem 10rem 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-brand {
    flex: 1.5;
}

.footer-brand h3 {
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgba(4, 4, 240, 0.7);
    margin-bottom: 1rem;
}

.footer-brand p {
    font-size: 0.97rem;
    line-height: 1.6rem;
    color: rgba(255, 255, 255, 0.600);
    width: 85%;
}

.footer-links {
    flex: 1;
}

.footer-links h4,
.footer-newsletter h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: rgba(255, 255, 255, 0.900);
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #4f46e5;
}

.footer-newsletter {
    flex: 1.5;
}

.footer-newsletter p {
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.600);
    margin-bottom: 1rem;
}

.subscribe-form {
    display: flex;
    gap: 8px;
}

.subscribe-form input {
    background: #f8fafcd9;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    flex: 1;
    font-size: 0.95rem;
}

.subscribe-form button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-size: .95rem;
    font-weight: 500;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-bottom p {
    font-size: 0.97rem;
    color: rgba(255, 255, 255, 0.600);
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 19px;
    height: 19px;
}

.social-icons a {
    background: #4f46e5;
    padding: .5rem .6rem;
    border: 1px solid transparent;
    border-radius: 55px;
    font-size: 1.1rem;
    transition: 0.2s;
}

.social-icons a:hover {
    color: white;
}

/* responsiveness for mobile device */

@media screen and (max-width: 576px) {
    .footer{
        padding: 2rem 1rem;
    }
    .footer-container{
        display: grid;
    }
    .subscribe-form {
        display: grid;
    }
    .footer-bottom{
        display: grid;
    }
    .social-icons {
        order: -1;
    }
}

/* Footer Section CSS end */