.banner {
    /* Background & Height */
    background-image:
        linear-gradient(to right,
            rgba(16, 23, 55, 0.9) 20%,
            rgba(21, 30, 69, 0.7) 35%,
            rgba(18, 25, 59, 0.3) 96%,
            rgba(0, 0, 0, 0) 140%),
        url('../assets/banner-image.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.banner p {
    width: 60%;
    margin-bottom: 2rem;
    text-align: left;
    letter-spacing: .5px;
    line-height: 1.7rem;
    color: #ffffffa2;
}

.banner a {
    text-decoration: none;
    background-color: #4f46e5;
    color: #fff;
    padding: 0.8rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.banner a:hover {
    background-color: #fff;
    border: 1px solid #4f46e5;
    color: #4f46e5;
    transition: all 0.5s ease-in-out;

}