

.choose {
    background-color: aliceblue;
    text-align: center;
    margin: 0;
    padding:  0;
}

.choose-container {
    display: flex;
}

/* .container {

} */

.container img {
    width: 55px;
    height: 55px;
}