

header{
    display: flex;
    background-color: #fff;
    padding: 2rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
}



.logo h3 {
    color: blue;
    font-size: 1.7rem;
    font-weight: 700;
}
.nav-menu{
    display: flex;
    list-style: none;
    /* margin-left: auto; */
}

.nav-menu a {
    list-style-type: none;
    text-decoration: none;
    color: #3a3737;
    margin: 0 1rem;
    font-size: 1.05rem;
    font-weight: 500;
}

.nav-menu a:hover{
    color: blue;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:active {
    color: blue;
}

.cart-icon a img {
    width: 65px;
    height: 65px;
}